body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header li {
    margin-left: 20px;
}

header a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    font-size: 20px;
    padding: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
}

header a:hover {
    background-color: rgb(255, 251, 0);
    color: black;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

#page-logo a {
    padding: 15px;
    font-family: 'Oleo script', sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}